.katalog {
    padding: 20px;
    margin-left: 30px;
}

.form-inline {
    display: flex;
    justify-content: flex-end; /* Menggeser form ke kanan */
    margin-bottom: 20px;
}

.input-group {
    width: 70%;
}

.form-control {
    width: 80%;
}

.btn-search {
    width: 20%;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; /* Menggeser kontainer ke kanan */
}

.card-book {
    flex: 0 0 24%; /* Atur lebar kartu buku sesuai kebutuhan Anda */
    margin: 10px;
    margin-left: 80px; /* Menggeser kartu buku ke kanan */
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 5px;
}

.btn-info {
    background-color: #5bc0de;
    color: #fff;
    margin-right: 5px;
}

.btn-info a {
    color: #fff;
    text-decoration: none;
}
